* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
}
.left {
  display: inline-block;
  /* border: 4px solid red; */
  color: white;
  position: absolute;
  left: 35px;
  top: 20px;
  font-size: 40px;
}

.mid {
  /* border: 4px solid rebeccapurple; */
  color: white;
  display: block;
  margin: 20px auto;
  width: 33%;
}

.right {
  display: inline-block;
  /* border: 4px solid gold; */
  position: absolute;
  top: 30px;
  color: white;
  right: 50px;
  padding: 10px;
  margin: 5px;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 17px;
  padding: 12px 10px;
  margin: 10px;
  font-family: "Baloo Bhai 2", cursive;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form {
  position: relative;
  width: 500px;
  height: 200px;
  margin: 120px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
